<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SchoolPaymentDb"
         connectionString="Data Source=.;Initial Catalog=SchoolPaymentDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Public site URL used for Alqaseh redirect_url and webhook_url. Use HTTPS in production. -->
    <add key="AppBaseUrl" value="http://localhost:50500" />
    <add key="Alqaseh.ApiBaseUrl" value="https://api-test.alqaseh.com/v1" />
    <add key="Alqaseh.PaymentPageBaseUrl" value="https://pay-test.alqaseh.com" />
    <add key="Alqaseh.ClientId" value="public_test" />
    <add key="Alqaseh.ClientSecret" value="Lr10yWWmm1dXLoI7VgXCrQVnlq13c1G0" />
    <add key="Alqaseh.TransactionType" value="Retail" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization culture="ar-IQ" uiCulture="ar" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
